:root{
  --mr-v68-hold-0-x:43.457%;
  --mr-v68-hold-0-y:3403px;
  --mr-v68-hold-1-x:52.637%;
  --mr-v68-hold-1-y:3296px;
  --mr-v68-hold-2-x:43.457%;
  --mr-v68-hold-2-y:3189px;
  --mr-v68-hold-3-x:44.531%;
  --mr-v68-hold-3-y:3083px;
  --mr-v68-hold-4-x:60.449%;
  --mr-v68-hold-4-y:2976px;
  --mr-v68-hold-5-x:40.625%;
  --mr-v68-hold-5-y:2869px;
  --mr-v68-hold-6-x:57.520%;
  --mr-v68-hold-6-y:2763px;
  --mr-v68-hold-7-x:34.863%;
  --mr-v68-hold-7-y:2656px;
  --mr-v68-hold-8-x:59.375%;
  --mr-v68-hold-8-y:2549px;
  --mr-v68-hold-9-x:34.082%;
  --mr-v68-hold-9-y:2443px;
  --mr-v68-hold-10-x:47.656%;
  --mr-v68-hold-10-y:2336px;
  --mr-v68-hold-11-x:37.012%;
  --mr-v68-hold-11-y:2229px;
  --mr-v68-hold-12-x:58.105%;
  --mr-v68-hold-12-y:2123px;
  --mr-v68-hold-13-x:44.531%;
  --mr-v68-hold-13-y:2016px;
  --mr-v68-hold-14-x:56.250%;
  --mr-v68-hold-14-y:1909px;
  --mr-v68-hold-15-x:45.020%;
  --mr-v68-hold-15-y:1803px;
  --mr-v68-hold-16-x:36.230%;
  --mr-v68-hold-16-y:1696px;
  --mr-v68-hold-17-x:61.230%;
  --mr-v68-hold-17-y:1589px;
  --mr-v68-hold-18-x:41.113%;
  --mr-v68-hold-18-y:1483px;
  --mr-v68-hold-19-x:48.145%;
  --mr-v68-hold-19-y:1376px;
  --mr-v68-hold-20-x:32.812%;
  --mr-v68-hold-20-y:1269px;
  --mr-v68-hold-21-x:57.812%;
  --mr-v68-hold-21-y:1163px;
  --mr-v68-hold-22-x:37.207%;
  --mr-v68-hold-22-y:1056px;
  --mr-v68-hold-23-x:51.562%;
  --mr-v68-hold-23-y:949px;
  --mr-v68-hold-24-x:37.988%;
  --mr-v68-hold-24-y:843px;
  --mr-v68-hold-25-x:57.031%;
  --mr-v68-hold-25-y:736px;
  --mr-v68-hold-26-x:46.875%;
  --mr-v68-hold-26-y:629px;
  --mr-v68-hold-27-x:57.324%;
  --mr-v68-hold-27-y:523px;
  --mr-v68-hold-28-x:41.699%;
  --mr-v68-hold-28-y:416px;
  --mr-v68-hold-29-x:50.000%;
  --mr-v68-hold-29-y:256px;
  --mr-v68-route-width:1024px;
  --mr-v68-route-height:4096px;
  --mr-v68-ground-y:3653px;
  --mr-v68-summit-y:256px;
}
