:root{
  --mr-v67-hold-0-x:42.773%;
  --mr-v67-hold-0-y:3500px;
  --mr-v67-hold-1-x:57.227%;
  --mr-v67-hold-1-y:3386px;
  --mr-v67-hold-2-x:45.703%;
  --mr-v67-hold-2-y:3272px;
  --mr-v67-hold-3-x:59.570%;
  --mr-v67-hold-3-y:3158px;
  --mr-v67-hold-4-x:41.211%;
  --mr-v67-hold-4-y:3043px;
  --mr-v67-hold-5-x:54.688%;
  --mr-v67-hold-5-y:2929px;
  --mr-v67-hold-6-x:47.070%;
  --mr-v67-hold-6-y:2815px;
  --mr-v67-hold-7-x:58.984%;
  --mr-v67-hold-7-y:2701px;
  --mr-v67-hold-8-x:43.359%;
  --mr-v67-hold-8-y:2587px;
  --mr-v67-hold-9-x:56.055%;
  --mr-v67-hold-9-y:2473px;
  --mr-v67-hold-10-x:42.773%;
  --mr-v67-hold-10-y:2359px;
  --mr-v67-hold-11-x:57.227%;
  --mr-v67-hold-11-y:2244px;
  --mr-v67-hold-12-x:45.703%;
  --mr-v67-hold-12-y:2130px;
  --mr-v67-hold-13-x:59.570%;
  --mr-v67-hold-13-y:2016px;
  --mr-v67-hold-14-x:41.211%;
  --mr-v67-hold-14-y:1902px;
  --mr-v67-hold-15-x:54.688%;
  --mr-v67-hold-15-y:1788px;
  --mr-v67-hold-16-x:47.070%;
  --mr-v67-hold-16-y:1674px;
  --mr-v67-hold-17-x:58.984%;
  --mr-v67-hold-17-y:1560px;
  --mr-v67-hold-18-x:43.359%;
  --mr-v67-hold-18-y:1446px;
  --mr-v67-hold-19-x:56.055%;
  --mr-v67-hold-19-y:1331px;
  --mr-v67-hold-20-x:42.773%;
  --mr-v67-hold-20-y:1217px;
  --mr-v67-hold-21-x:57.227%;
  --mr-v67-hold-21-y:1103px;
  --mr-v67-hold-22-x:45.703%;
  --mr-v67-hold-22-y:989px;
  --mr-v67-hold-23-x:59.570%;
  --mr-v67-hold-23-y:875px;
  --mr-v67-hold-24-x:41.211%;
  --mr-v67-hold-24-y:761px;
  --mr-v67-hold-25-x:54.688%;
  --mr-v67-hold-25-y:647px;
  --mr-v67-hold-26-x:47.070%;
  --mr-v67-hold-26-y:532px;
  --mr-v67-hold-27-x:58.984%;
  --mr-v67-hold-27-y:418px;
  --mr-v67-hold-28-x:43.359%;
  --mr-v67-hold-28-y:304px;
  --mr-v67-hold-29-x:50.000%;
  --mr-v67-hold-29-y:190px;
  --mr-v67-route-width:1024px;
  --mr-v67-route-height:4096px;
  --mr-v67-ground-y:3780px;
  --mr-v67-summit-y:190px;
}
