:root{
  --mr-v66-hold-0-x:41.992%;
  --mr-v66-hold-0-y:3441px;
  --mr-v66-hold-1-x:57.031%;
  --mr-v66-hold-1-y:3327px;
  --mr-v66-hold-2-x:44.727%;
  --mr-v66-hold-2-y:3211px;
  --mr-v66-hold-3-x:59.766%;
  --mr-v66-hold-3-y:3098px;
  --mr-v66-hold-4-x:41.016%;
  --mr-v66-hold-4-y:2983px;
  --mr-v66-hold-5-x:54.492%;
  --mr-v66-hold-5-y:2868px;
  --mr-v66-hold-6-x:45.898%;
  --mr-v66-hold-6-y:2754px;
  --mr-v66-hold-7-x:60.547%;
  --mr-v66-hold-7-y:2640px;
  --mr-v66-hold-8-x:42.773%;
  --mr-v66-hold-8-y:2527px;
  --mr-v66-hold-9-x:56.055%;
  --mr-v66-hold-9-y:2412px;
  --mr-v66-hold-10-x:41.992%;
  --mr-v66-hold-10-y:2297px;
  --mr-v66-hold-11-x:57.031%;
  --mr-v66-hold-11-y:2184px;
  --mr-v66-hold-12-x:44.727%;
  --mr-v66-hold-12-y:2069px;
  --mr-v66-hold-13-x:59.766%;
  --mr-v66-hold-13-y:1955px;
  --mr-v66-hold-14-x:41.016%;
  --mr-v66-hold-14-y:1840px;
  --mr-v66-hold-15-x:54.492%;
  --mr-v66-hold-15-y:1726px;
  --mr-v66-hold-16-x:45.898%;
  --mr-v66-hold-16-y:1611px;
  --mr-v66-hold-17-x:60.547%;
  --mr-v66-hold-17-y:1497px;
  --mr-v66-hold-18-x:42.773%;
  --mr-v66-hold-18-y:1382px;
  --mr-v66-hold-19-x:56.055%;
  --mr-v66-hold-19-y:1268px;
  --mr-v66-hold-20-x:41.992%;
  --mr-v66-hold-20-y:1155px;
  --mr-v66-hold-21-x:57.031%;
  --mr-v66-hold-21-y:1040px;
  --mr-v66-hold-22-x:44.727%;
  --mr-v66-hold-22-y:925px;
  --mr-v66-hold-23-x:59.766%;
  --mr-v66-hold-23-y:812px;
  --mr-v66-hold-24-x:41.016%;
  --mr-v66-hold-24-y:698px;
  --mr-v66-hold-25-x:54.492%;
  --mr-v66-hold-25-y:583px;
  --mr-v66-hold-26-x:45.898%;
  --mr-v66-hold-26-y:468px;
  --mr-v66-hold-27-x:60.547%;
  --mr-v66-hold-27-y:355px;
  --mr-v66-hold-28-x:42.773%;
  --mr-v66-hold-28-y:239px;
  --mr-v66-hold-29-x:50.000%;
  --mr-v66-hold-29-y:90px;
  --mr-v66-route-width:1024px;
  --mr-v66-route-height:3840px;
  --mr-v66-ground-y:3640px;
  --mr-v66-summit-y:90px;
}
