:root{
  --mr-v67-hold-0-x:42.773%;
  --mr-v67-hold-0-y:2515px;
  --mr-v67-hold-1-x:57.227%;
  --mr-v67-hold-1-y:2434px;
  --mr-v67-hold-2-x:45.703%;
  --mr-v67-hold-2-y:2352px;
  --mr-v67-hold-3-x:59.570%;
  --mr-v67-hold-3-y:2271px;
  --mr-v67-hold-4-x:41.211%;
  --mr-v67-hold-4-y:2189px;
  --mr-v67-hold-5-x:54.688%;
  --mr-v67-hold-5-y:2108px;
  --mr-v67-hold-6-x:47.070%;
  --mr-v67-hold-6-y:2027px;
  --mr-v67-hold-7-x:58.984%;
  --mr-v67-hold-7-y:1945px;
  --mr-v67-hold-8-x:43.359%;
  --mr-v67-hold-8-y:1864px;
  --mr-v67-hold-9-x:56.055%;
  --mr-v67-hold-9-y:1782px;
  --mr-v67-hold-10-x:42.773%;
  --mr-v67-hold-10-y:1701px;
  --mr-v67-hold-11-x:57.227%;
  --mr-v67-hold-11-y:1619px;
  --mr-v67-hold-12-x:45.703%;
  --mr-v67-hold-12-y:1538px;
  --mr-v67-hold-13-x:59.570%;
  --mr-v67-hold-13-y:1457px;
  --mr-v67-hold-14-x:41.211%;
  --mr-v67-hold-14-y:1375px;
  --mr-v67-hold-15-x:54.688%;
  --mr-v67-hold-15-y:1294px;
  --mr-v67-hold-16-x:47.070%;
  --mr-v67-hold-16-y:1212px;
  --mr-v67-hold-17-x:58.984%;
  --mr-v67-hold-17-y:1131px;
  --mr-v67-hold-18-x:43.359%;
  --mr-v67-hold-18-y:1050px;
  --mr-v67-hold-19-x:56.055%;
  --mr-v67-hold-19-y:968px;
  --mr-v67-hold-20-x:42.773%;
  --mr-v67-hold-20-y:887px;
  --mr-v67-hold-21-x:57.227%;
  --mr-v67-hold-21-y:805px;
  --mr-v67-hold-22-x:45.703%;
  --mr-v67-hold-22-y:724px;
  --mr-v67-hold-23-x:59.570%;
  --mr-v67-hold-23-y:642px;
  --mr-v67-hold-24-x:41.211%;
  --mr-v67-hold-24-y:561px;
  --mr-v67-hold-25-x:54.688%;
  --mr-v67-hold-25-y:480px;
  --mr-v67-hold-26-x:47.070%;
  --mr-v67-hold-26-y:398px;
  --mr-v67-hold-27-x:58.984%;
  --mr-v67-hold-27-y:317px;
  --mr-v67-hold-28-x:43.359%;
  --mr-v67-hold-28-y:235px;
  --mr-v67-hold-29-x:50.000%;
  --mr-v67-hold-29-y:154px;
  --mr-v67-route-width:1024px;
  --mr-v67-route-height:3072px;
  --mr-v67-ground-y:2760px;
  --mr-v67-summit-y:154px;
}
